* {
    box-sizing: border-box;
    }

    body {
        font-family: 'Blinker', sans-serif;
        font-size: 18px;
        line-height: 24px;
    }

.visually-hidden {
    display: block;
}

.task {
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    color: #252a2f;
    background-color: #f6f8fa;
    border: 1px solid #dedfe2;
}

.task__title {
    margin-top: 0;
    font-size: 20px;
    text-align: center;
}

.task__window-module {
   display: flex;
   margin-bottom: 10px;
}

.task__input {
    width: 70%;
    padding: 10px;
    border: 1px solid #dedfe2;
    border-right: 0;
}

.task__button {
    width: 30%;
    padding: 5px;
    color: #ffffff;
    background-color: #2aab6d;
    border: 1px solid #dedfe2;
    cursor: pointer;
}

.task__button:hover {
    background-color: #1c9b5e;
}

.task__button:active {
    background-color: #1c9b5e;
    color: #61b98f;
}

.color-picker {
    display: flex;
    margin-bottom: 15px;
}

.color-picker__item {
    width: 20px;
    height: 20px;
    margin-right: 3px;
    margin-left: 3px;
    border: 1px solid #dedfe2;
}

.color-picker__item:first-child {
    margin-left: 0;
}

.color-picker__item:last-child {
    margin-right: 0;
}
.color-picker__item.active {
    border: 2px solid #d22856;
}
.color-picker__item--blue {
    background: blue;
}

.color-picker__item--yellow {
    background:#ffa400;
}

.color-picker__item--green {
    background: green;
}

.color-picker__item--red {
    background: red;
} 

.color-picker__item--light-green {
    background: #00d669;
}

.task-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.task-list__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #dedfe2;
}

.task-list__checkbox {
    position: relative;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5; 
}

.task-list__checkbox:hover {
    border: 2px solid #d22856;
}

.task-list__item--done {
    background: #333333 !important;
}

.task-list__item--done .task-list__checkbox::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 10px;
    border-color: #d22856;
    border-style: solid;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.task-list__item--done .task-list__text{
    text-decoration: line-through;
}

.task-list__text {
    width: 100%;
    margin: 0;
    margin-right: 20px;
    margin-left: 20px;
}

.task-list__button {
    width: 30px;
    height: 30px;
    border: 2px solid #e5e5e5;
    background: #ffffff; 
}

.task-list__button:hover {
    border: 2px solid #d22856;
}

.task-list__button:before,
.task-list__button:after {
    content: "";
    position: absolute;
    top: 24px;
    right: 13px;
    width: 22px;
    height: 2px;
    background: #d22856;
}

.task-list__button:before {
    webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.task-list__button:after {
    webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

